@model List<Category>

@{
    ViewBag.Title = "Все категории";
}

<div class="mt-2">
    <table class="table table-striped">
        <thead class="table-dark">
        <tr>
            <th><h5 class="text-white ml-1"><i class="fa-solid fa-folder-open HHL"></i> Название категории</h5></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <th><i class="fa-solid fa-folder text-secondary"></i> @category.Name</th>
            </tr>
        }
        </tbody>
    </table>
</div>