@model HeadHunter.ViewModels.EditViewModel

@{
    ViewBag.Title = "Edit Profile";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
<div class="bg-dark text-center pt-5 pb-4 border-radius-1">
    <h3 class="text-white mb-5">Заполните форму для редактирования аккаунта</h3>
    <form asp-action="UserEdit" asp-controller="Account" asp-anti-forgery="true">
        <div asp-validation-summary="ModelOnly" class="text-error"></div>
        <div class="form_row mb-3">
            <label for="" class="col-4">
                <input type="text" class="form-control" asp-for="UserName" placeholder="Введите логин...">
                <span asp-validation-for="UserName" class="text-error" />
            </label>
        </div>
        <div class="form_row mb-3">
            <label for="" class="col-4">
                <input type="email" class="form-control" asp-for="Email" placeholder="Введите ваш адрес электронной почты...">
                <span asp-validation-for="Email" class="text-error" />
                @if (ViewBag.ErrorMessage != null)
                {
                    <span class="text-error">@ViewBag.ErrorMessage</span>
                }
            </label>
        </div>
        <div class="form_row mb-3">
            <label for="" class="col-4">
                <input type="date" class="form-control" asp-for="DateOfBirth" placeholder="Укажите дату рождения...">
                <span asp-validation-for="DateOfBirth" class="text-error" />
            </label>
        </div>
        <div class="form_row mb-3">
            <label for="" class="col-4">
                <input type="text" class="form-control" asp-for="Avatar" placeholder="Введите ссылку на аватар...">
                <span asp-validation-for="Avatar" class="text-error" />
            </label>
        </div>
        <div class="form_row mb-3">
            <label for="" class="col-4">
                <input type="number" class="form-control" asp-for="PhoneNumber" placeholder="Укажите номер телефона...">
                <span asp-validation-for="PhoneNumber" class="text-error" />
            </label>
        </div>
        <div class="form_row mb-3">
            <label for="" class="col-4">
                <input type="password" class="form-control" asp-for="Password" placeholder="Введите пароль...">
                <span asp-validation-for="Password" class="text-error" />
            </label>
        </div>
        <button type="submit" class="btn btn-outline-light mb-3 w-25">Сохранить</button>
    </form>
</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            $('form').submit(function (e) {
                e.preventDefault();  

                var form = $(this);
                var formData = form.serialize();  
                console.log("Данные формы: ", formData);  

                $.ajax({
                    url: '@Url.Action("UserEdit", "Account")',  
                    type: 'POST',
                    data: formData,  
                    beforeSend: function () {
                        console.log("Отправка запроса на сервер...");
                    },
                    success: function (response) {
                        console.log("Ответ от сервера: ", response);  
                        if (response.success) {
                            alert(response.message);  
                        } else {
                            alert(response.message);  
                        }
                        
                    },
                    error: function (xhr, status, error) {
                        console.log("Ошибка при запросе: ", xhr, status, error);  
                        alert('Произошла ошибка при отправке данных.');
                    },
                    complete: function () {
                        console.log("Запрос завершён.");
                        window.location.replace("https://localhost:7120/Account/Profile")
                    }
                });
            });
        });
    </script>


}

