@model HeadHunter.ViewModels.UserEditViewModel

@{
    ViewBag.Title = "Редактирование пользователя";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" 
integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" 
referrerpolicy="no-referrer"></script>
<div class="bg-dark text-center pt-5 pb-4 border-radius-1">
    <h3 class="text-white mb-5">Заполните форму для редактирования пользователя</h3>
    <form asp-action="UserEdit" asp-controller="Account" asp-anti-forgery="true">
        <div asp-validation-summary="ModelOnly" class="text-error"></div>
        <input type="hidden" asp-for="Id"/>
        <div class="form_row mb-3">
            <label for="" class="col-4">
                <input type="text" class="form-control" asp-for="UserName" placeholder="Введите логин...">
                <span asp-validation-for="UserName" class="text-error" />
            </label>
        </div>
        <div class="form_row mb-3">
            <label for="" class="col-4">
                <input type="email" class="form-control" asp-for="Email" placeholder="Введите ваш адрес электронной почты...">
                <span asp-validation-for="Email" class="text-error" />
                @if (ViewBag.ErrorMessage != null)
                {
                    <span class="text-error">@ViewBag.ErrorMessage</span>
                }
            </label>
        </div>
        <div class="form_row mb-3">
            <label for="" class="col-4">
                <input type="number" class="form-control" asp-for="PhoneNumber" placeholder="Укажите номер телефона...">
                <span asp-validation-for="PhoneNumber" class="text-error" />
            </label>
        </div>
        <div class="form_row mb-3">
            <label for="" class="col-4">
                <input type="text" class="form-control" asp-for="Avatar" placeholder="Введите ссылку на аватар...">
                <span asp-validation-for="Avatar" class="text-error" />
            </label>
        </div>
        <button type="submit" class="btn btn-outline-light mb-3 w-25">Сохранить</button>
    </form>
</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@section Scripts {
    <script>
        $(document).ready(function () {
            $('form').submit(function (e) {
                e.preventDefault();  

                var form = $(this);
                var formData = form.serialize();  

                $.ajax({
                    url: '@Url.Action("UserEdit", "Account")',
                    type: 'POST',
                    data: formData,
                    success: function (response) {
                        if (response.success) {
                            alert(response.message);
                        } else {
                            alert(response.message);
                        }
                    },
                    error: function () {
                        alert('Произошла ошибка при отправке данных.');
                    }
                });
            });
        });
    </script>
}
